
/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', sans-serif;
	line-height: 1.6;
	color: #333333;
}

p {
	font-size: .85em;
}

h1 {
	font-size: 1.3em;
}

h2 {
	margin-bottom: 0;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: .625em;
  font-weight: bold;
}

/* ================================= 
  Base Layout Styles
==================================== */

header {
	background-color: #2d3945;
	color: #ffffff;
	text-transform: uppercase;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	text-align: center;
	margin-bottom: 2em;
}

.top {
	text-align: center;
}

.lead1 {
	margin: .75em auto 0;
	width: 85%;
	color: #808080;
	font-size: 1.1em;
}

.lead2 {
	color: #808080;
	font-size: 1.1em;
	margin-top: 0;
}

.lead3 {
	color: #808080;
	font-size: 1.1em;
	margin-top: 2em;
}

.lead4 {
	color: #808080;
	font-size: 1.1em;
}

.thick-line {
	border: 3px solid #57616a;
	margin: 2em .625em .25em .625em;
}

.thin-line {
	border: 1px solid #57616a;
	margin: 0 .625em 1.5em .625em
}

.wrapper {
	width: 90%;
	margin: auto;
}

.mb-2 {
	margin-bottom: 1.5em;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

button:hover {
  background-color: #4ebbb5;
  border: 1px solid #43a5a0;
  border-width: 1px 1px 3px;
}

footer {
	text-align: center;
	color: #808080;
	font-size: 1.1em;
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border-radius: 5px;
  border: none;
  font-size: 1em;
  height: auto;
  margin: 0 0 30px 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

input:focus,
textarea:focus {
	border: 2px solid #385c7e;
	transition: all .5s ease;
}

form fieldset input[type=text]::placeholder, form fieldset input[type=email]::placeholder, form fieldset input[type=tel]::placeholder, select[name=user_state] {
  color: #adb2b7;
  font-size: 0.85rem;
  font-style: italic;
  text-align: right;
}

form fieldset:first-of-type input[name*=user_zipcode] {
  max-width: 50%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    max-width: 600px;
    margin: 2.625em auto 1.5625em;
  }

  header {
  	margin-bottom: 4em;
  }

  form fieldset:first-of-type label, form fieldset:first-of-type input {
    display: inline-block;
  }
  form fieldset:first-of-type label {
    width: 30%;
  }
  form fieldset:first-of-type input, form fieldset:first-of-type select {
    margin-left: 4%;
    width: 65% !important;
  }
  form fieldset:first-of-type input[name*=user_zip] {
    max-width: 150px;
    text-align: left;
    display: inline-block;
  }
}